header{font-family: arial;}

body{
    font-family: arial;
}

nav ul{
	text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #cccccc;
}
nav li a{display: block;
    padding: 10px;
    color:#000066;
    text-decoration: none;
      }


.current{text-transform: uppercase;}
